:root {
  --primary-color: #323232;
  --secondary-color: #eee;
  --green-color: #3bba9c; }

* {
  margin: 0;
  padding: 0; }

html {
  font: 12px/1.5 Georgia, serif;
  box-sizing: border-box; }

@media (min-width: 600px) {
  html {
    font-size: 14px; } }

@media (min-width: 1024px) {
  html {
    font-size: 16px; } }

@media (min-width: 1600px) {
  html {
    font-size: 18px; } }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none outside; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-family: 'Lora', sans-serif;
  margin-bottom: 0.5em; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

*, *:before, *:after {
  box-sizing: inherit; }

body, table, form, input, select, option, textarea {
  font: inherit; }

p, ul, ol {
  padding-bottom: 1.5em; }

ol > li > ol > li {
  list-style-type: upper-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.site-main {
  flex-grow: 1; }

.wrapper {
  padding: 0.5rem 10%; }

.section-title {
  text-align: center; }
  .section-title:after {
    display: block;
    content: "";
    height: 3px;
    background-color: var(--green-color);
    width: 5rem;
    margin: auto;
    margin-top: 1rem; }

.site-footer {
  text-align: center;
  padding: 2rem 10%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0px -7px 12px -5px rgba(0, 0, 0, 0.5); }

.hamburger_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }
  .hamburger_checkbox:checked + .site-header .site-header-navigation .site-header-navigation-list {
    max-height: 12rem;
    z-index: 2000; }

.site-header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.5); }
  .site-header-logo-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
  .site-header-hamburger-label {
    margin-left: auto; }
  .site-header-navigation {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--primary-color); }
    .site-header-navigation-list {
      padding-bottom: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-in;
      height: auto;
      max-height: 0rem;
      position: relative;
      z-index: 10;
      box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.5); }
      .site-header-navigation-list-item {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
        .site-header-navigation-list-item:first-child {
          border-top: 1px solid white; }
        .site-header-navigation-list-item:not(:last-child) {
          border-bottom: 1px solid white; }

@media screen and (min-width: 480px) {
  .site-header-logo-img {
    width: 5rem;
    height: 5rem; }
  .site-header-hamburger-label {
    display: none; }
  .site-header-navigation {
    position: static;
    width: auto;
    opacity: 1;
    margin-left: auto; }
    .site-header-navigation-list {
      display: flex;
      flex-direction: row;
      padding-bottom: 0;
      overflow: visible;
      max-height: -webkit-max-content;
      max-height: -moz-max-content;
      max-height: max-content;
      box-shadow: none; }
      .site-header-navigation-list-item {
        margin-left: 2rem;
        border: none !important; } }

.site-home {
  display: flex;
  flex-direction: column; }
  .site-home-jumbotron {
    position: relative;
    overflow: hidden; }
    .site-home-jumbotron:before {
      display: block;
      content: "";
      background-image: url("https://maxbytetech.com/wp-content/uploads/2016/12/Business-Wallpaper-HD-Wallpapers-Backgrounds-of-Your-Choice-3.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50% 35%;
      padding-top: 70%; }
    .site-home-jumbotron-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4); }
      .site-home-jumbotron-content-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--secondary-color);
        text-align: center; }
        .site-home-jumbotron-content-text-header {
          font-size: 1em; }
        .site-home-jumbotron-content-text .btn-contact {
          background: var(--secondary-color);
          color: var(--primary-color);
          padding: 1rem 2rem;
          border-radius: 0.5em;
          margin-top: 2rem;
          transition: background 0.2s ease-in; }
          .site-home-jumbotron-content-text .btn-contact:hover {
            background: var(--green-color);
            color: var(--secondary-color); }
  .site-home-features {
    margin-top: 3rem; }
    .site-home-features-list {
      display: flex;
      flex-direction: column; }
      .site-home-features-list-feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .site-home-features-list-feature-text {
          order: 2;
          text-align: center; }
          .site-home-features-list-feature-text p {
            padding: 0;
            margin-bottom: 1rem; }
          .site-home-features-list-feature-text a {
            background: var(--secondary-color);
            color: var(--primary-color);
            padding: 0.5rem 1rem;
            border-radius: 0.5em;
            transition: background 0.2s ease-in; }
            .site-home-features-list-feature-text a:hover {
              background: var(--green-color);
              color: var(--secondary-color); }
        .site-home-features-list-feature-img {
          margin: 2rem 0;
          order: 1;
          width: 100%;
          overflow: hidden;
          position: relative; }
          .site-home-features-list-feature-img:before {
            display: block;
            content: "";
            padding-top: 50%; }
          .site-home-features-list-feature-img img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: auto; }
  .site-home-contacts {
    background-color: var(--green-color);
    padding: 4rem 10%;
    display: flex;
    flex-direction: column;
    color: var(--secondary-color); }
    .site-home-contacts-text h4 {
      font-size: 2.5em; }
    .site-home-contacts-link {
      margin-top: 1rem; }
      .site-home-contacts-link-btn {
        font-size: 2em;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 1.875em;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        padding: 1rem 2rem;
        transition: background 0.2s ease-in; }
        .site-home-contacts-link-btn:hover {
          color: var(--secondary-color);
          background-color: var(--primary-color); }
  .site-home-reviews {
    margin-top: 2rem; }
    .site-home-reviews-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3rem; }
      .site-home-reviews-list-review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .site-home-reviews-list-review-img {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.63); }
          .site-home-reviews-list-review-img img {
            width: 100%;
            height: auto; }
        .site-home-reviews-list-review-text {
          margin-top: 2rem;
          margin-bottom: 1rem; }
          .site-home-reviews-list-review-text p {
            text-align: center; }
          .site-home-reviews-list-review-text h5 {
            max-width: 70%;
            margin-left: auto; }

@media screen and (min-width: 480px) {
  .site-home-jumbotron::before {
    padding-top: 50%; }
  .site-home-jumbotron-content-text-header:nth-child(1) {
    font-size: 1.75em; }
  .site-home-jumbotron-content-text-header:nth-child(2) {
    font-size: 1.5em; }
  .site-home-jumbotron-content-text-header:nth-child(3) {
    font-size: 1.25em; } }

@media screen and (min-width: 750px) {
  .site-home-jumbotron::before {
    background-image: url("https://c0.wallpaperflare.com/preview/210/504/976/adult-chair-company-design.jpg");
    padding-top: 30%; }
  .site-home-features-list-feature {
    flex-direction: row; }
    .site-home-features-list-feature.left-feature .site-home-features-list-feature-text {
      order: 1;
      text-align: left; }
    .site-home-features-list-feature.left-feature .site-home-features-list-feature-img {
      order: 2; }
    .site-home-features-list-feature.right-feature .site-home-features-list-feature-text {
      text-align: right; }
  .site-home-contacts {
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .site-home-contacts-link {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .site-home-reviews-list {
    flex-direction: row;
    align-items: start; }
    .site-home-reviews-list-review-img {
      width: 12rem;
      height: 12rem; } }

.mapouter {
  position: relative;
  text-align: right;
  height: 435px;
  width: 100%;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.3); }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 435px;
  width: 100%; }

.site-contacts {
  display: flex;
  flex-direction: column; }
  .site-contacts-info {
    margin-top: 3rem; }
    .site-contacts-info-cards {
      display: flex;
      flex-direction: column;
      margin-top: 3rem; }
      .site-contacts-info-cards-card {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center; }
        .site-contacts-info-cards-card-img {
          font-size: 4em;
          color: var(--primary-color); }
        .site-contacts-info-cards-card-text {
          text-align: center; }
          .site-contacts-info-cards-card-text h5 {
            margin-bottom: 1rem; }
          .site-contacts-info-cards-card-text p {
            font-family: sans-serif;
            padding: 0; }
  .site-contacts-message {
    margin-top: 1rem;
    margin-bottom: 3rem; }
    .site-contacts-message-form {
      display: flex;
      flex-direction: column;
      margin-top: 3rem; }
      .site-contacts-message-form-input {
        display: flex;
        flex-direction: column; }
        .site-contacts-message-form-input input,
        .site-contacts-message-form-input textarea {
          padding: 0.5rem;
          border: 0;
          background: var(--secondary-color);
          color: var(--primary-color);
          border-radius: 0.3rem;
          border-color: var(--primary-color); }
        .site-contacts-message-form-input:not(:last-child) {
          margin-bottom: 2rem; }
      .site-contacts-message-form input[type="submit"] {
        background: var(--primary-color);
        color: var(--secondary-color);
        font-size: 1.2em;
        font-weight: bold;
        padding-top: 1rem;
        padding-bottom: 1rem;
        cursor: pointer;
        transition: background 0.2s ease-in;
        border-radius: 0.3rem;
        border: 0; }
        .site-contacts-message-form input[type="submit"]:hover {
          background: var(--green-color); }

@media screen and (min-width: 480px) {
  .site-contacts-info-cards {
    flex-direction: row; }
    .site-contacts-info-cards-card {
      flex: 1 0 30%;
      margin-bottom: 0; }
  .site-contacts-message {
    margin-top: 3rem; }
    .site-contacts-message-form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .site-contacts-message-form-input:nth-child(1) {
        flex: 1 0 35%; }
      .site-contacts-message-form-input:nth-child(odd) {
        margin-right: 2rem; }
      .site-contacts-message-form-input:nth-child(2) {
        flex: 1 0 35%; }
      .site-contacts-message-form-input:nth-child(odd) {
        margin-right: 2rem; }
      .site-contacts-message-form-input:nth-child(3) {
        flex: 1 0 35%; }
      .site-contacts-message-form-input:nth-child(odd) {
        margin-right: 2rem; }
      .site-contacts-message-form-input:nth-child(4) {
        flex: 1 0 35%; }
      .site-contacts-message-form-input:nth-child(odd) {
        margin-right: 2rem; }
      .site-contacts-message-form-input:nth-child(5) {
        flex: 1 0 35%; }
      .site-contacts-message-form-input:nth-child(odd) {
        margin-right: 2rem; }
      .site-contacts-message-form-input:nth-child(6) {
        flex: 1 0 35%; }
      .site-contacts-message-form-input:nth-child(odd) {
        margin-right: 2rem; }
      .site-contacts-message-form-input:nth-child(7) {
        flex: 1 0 100%; }
      .site-contacts-message-form input[type="submit"] {
        flex: 1 0 100%; } }
