<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/9578b4b943.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/434415696131391498/802523245659029514/Since_2002.png">
    <title>{{site.title}}</title>
</head>
<body>
    <div class="site">
        {% include header.html %}
        <main class="site-main">
            {{content}}
        </main>
        {% include footer.html %}
    </div>
</body>
</html>