.hamburger_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked + .site-header .site-header-navigation .site-header-navigation-list {
        max-height: 12rem;
        z-index: 2000;

    }
}
.site-header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    box-shadow: 0px 7px 12px -5px rgba(0,0,0,0.5);

    &-logo {
        &-img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
        }
    }

    &-hamburger-label {
        margin-left: auto;
    }

    &-navigation {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: var(--primary-color);

        &-list {
            padding-bottom: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in;
            height: auto;
            max-height: 0rem;
            position: relative;
            z-index: 10;
            box-shadow: 0px 7px 12px -5px rgba(0,0,0,0.5);

            &-item {
                padding: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                &:first-child {
                    border-top: 1px solid white;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}

@include mq(480px) {
    .site-header {
        &-logo {
            &-img {
                width: 5rem;
                height: 5rem;
            }
        }
        &-hamburger-label {
            display: none;
        }
        &-navigation {
            position: static;
            width: auto;
            opacity: 1;
            margin-left: auto;
            

            &-list {
                display: flex;
                flex-direction: row;
                padding-bottom: 0;
                overflow: visible;
                max-height: max-content;
                box-shadow: none;

                &-item {
                    margin-left: 2rem;
                    border: none !important;
                }
            }
        }
    }
}
